@media screen and (min-width: 680px)
{
    .entete-image-conteneur 
    {
        position: relative;
        width: 100%;
        height: 450px;
        overflow: hidden;
    }

    .entete-image-conteneur > .image
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    #menu-section 
    {
        margin-top: -40px;
    }
    
    .element
    {
    border-radius: 50%;
    background-color: #9356DC;
    color: white;
    padding: 5px;
    position: relative;
    }

    #restaurant
    {
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    }

    #fonction
    {
    display: flex;
    align-items: center;
    justify-content: center;
    }

    #restaurant
    {
        display: flex;
        align-items: center;
    }

    .button
    {
        width: 20%;
    }

    .img
    {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

    .image
    {
        width: 30%;
    }

    .hearts-ctnr 
    {
        left: 800px;
    }

    .menus
    {
        width: 40%;
    }
    
    .entrees, .plats, .desserts
    {
        display: flex;
        justify-content: center;
        flex-flow: column;
        flex-direction: column;
        align-items: center;    
    }

    .description
    {
        width: 860px;
    }


    

}