@media screen and (min-width: 680px)
{
    .element
    {
    border-radius: 50%;
    background-color: #9356DC;
    color: white;
    padding: 5px;
    position: relative;
    }

    #restaurant
    {
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    }


    

}