:root
{
    --customgrey:#f6f6f6;
    --custompurple: #9356dc;
}

@font-face
{
    font-family: 'Roboto-Black';
    src: url(Roboto/Roboto-Black.ttf); 
}


@font-face
{
    font-family: 'Roboto-Bold';
    src: url(Roboto/Roboto-Bold.ttf); 
}

@font-face
{
    font-family: 'Roboto-Light';
    src: url(Roboto/Roboto-Light.ttf); 
}

@font-face
{
    font-family: 'Roboto-Medium';
    src: url(Roboto/Roboto-Medium.ttf); 
}

@font-face
{
    font-family: 'Roboto-Regular';
    src: url(Roboto/Roboto-Regular.ttf); 
}

@font-face
{
    font-family: 'Roboto-Thin';
    src: url(Roboto/Roboto-Thin.ttf); 
}

@font-face
{
    font-family: 'Shrikhand-Regular';
    src: url(Shrikhand/Shrikhand-Regular.ttf); 
}

body
{
    margin: 0%;
}

h1
{
    font-family: 'Shrikhand-Regular', Arial, Helvetica, sans-serif;
    margin: 0;
}

h2
{
    font-family: 'Roboto-Black', Arial, Helvetica, sans-serif;
    margin: 20px;
}

h3
{
    font-family: 'Roboto-Black', Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

h4
{
    font-family: 'Shrikhand-Regular', Arial, Helvetica, sans-serif;
    margin: 20px;
}

p
{
    font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif;
    margin: 20px;
}

#menus_titre h2
{
    font-family: 'Shrikhand-Regular', Arial, Helvetica, sans-serif;
}

#bloc_page
{
    text-align: center;
}

#header-barre-haut
{
    display: flex;
    text-align: center;
    align-items: center;
}

.arrow
{
    padding-left: 20px;
    padding-right: 60px;
    color: black;
}

img
{
    width: 100%;
    height: 100%;
}

.entrees
{
    border: 1px solid transparent;
}

#titre
{
    margin-top: -50px;
}

#menus_titre
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--customgrey);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    padding-right: 20px;
}

.hearts-ctnr 
{
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
}

.hearts-ctnr:focus > .full-heart 
{
    transition: 0.4s all;
    transform: scale(1);  
}

.hearts-ctnr:focus > .empty-heart
{
    visibility: hidden;
}

.hearts-ctnr:hover > .full-heart 
{
    transition: 0.4s all;
    transform: scale(1);  
}

.hearts-ctnr:hover > .empty-heart
{
    visibility: hidden;
}

.heart
{
    position: absolute;
    font-size: 23px;
    top: 0;
    left: 0;
    
}

.full-heart 
{
    z-index: 0;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(0);
}

.empty-heart 
{
    z-index: 1;
    color: black;

}

#carte
{
    background-color: var(--customgrey);
    position: relative;
    padding-bottom: 10px;
    
}

.plats_titre
{
    border-bottom: 4px solid #99E2D0;
    width: 15%;
    padding-bottom: 5px;
    font-family: 'Roboto-Thin', Arial, Helvetica, sans-serif;
}

.menus
{
    background-color: white;
    border-radius: 10px;
    display: block;
    color: black;
    position: relative;
    height: 50px;
    overflow: hidden;
    margin: -30px 10px 30px 10px;
    animation: apparition 3s forwards;
    opacity: 0;
    padding: 10px 10px 10px 0;
}

.menus h3, .menus p
{
    margin: 10px;
}

.menus p
{
    font-family: 'Roboto-Thin', Arial, Helvetica, sans-serif;
}


@keyframes apparition 
{
    0% 
    {
        opacity: 0;
        margin-top: -30px;
    }

    100% 
    {
        opacity: 1;
        margin-top: 30px;
    }
}

.menus:hover .menu-left 
{
    transition: all 1s;
    width: calc(100% - 135px);
}

.menus:hover .menu-right 
{
    transition: all 1s;
    right: 0;
}

.menu-left 
{
    width: calc(100% - 35px);
}


.menu-left > h3, .menu-left > p 
{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.menu-left > h3 
{
    margin-bottom: 0;
}

.menu-left > p 
{
    margin-top: 0;
}

.menu-right 
{
    position: absolute;
    top:0;
    right: -80px;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.menu-right-price 
{
    padding-bottom: 10px;
    padding-right: 20px;
}

.menu-checkbox 
{
    background-color: #99E2D0;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-checkbox-icon 
{
    background-color: white;
    border-radius: 50%;
    padding: 3px;
    color: #99E2D0;
}

#commander
{
    display: flex;
    justify-content: center;
    background-color: var(--customgrey);
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.p-boutton
{
    margin: 0%;
}

.button
{
    font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif;
    background: linear-gradient(#9356DC, #FF79DA);
    color: white;
    text-decoration: none;
    padding: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
    bottom: 20px;
    justify-content: center;
    box-shadow: 1px 1px 4px silver;
}

footer
{
    padding: 20px 15px 25px 15px;
    background-color: #353535;
}

#omf_footer
{
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    line-height: 25px;
}

.ofooter
{
    list-style-type: none;
    padding-left: 0%;
}

footer i
{
    width: 20px;
}

.para_footer
{
    margin: 0%;
    font-family: 'Roboto-Medium', Arial, Helvetica, sans-serif;
}

footer h4
{
    margin: 0%;
}

.propdev
{
    display: flex;
}

a
{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}