@media screen and (max-width: 680px)
{

    h1
    {
        margin: 0;
    }
    
    #bloc_page
    {
        text-align: center;
    }
    
    .marker
    {
        margin-right: 10px;
    }

    #rechercher
    {
        display: flex;
        align-items: center;
        background-color: #bdbdbd;
        text-align: center;
        border-top: 5px gray solid;
    }

    #reservez
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        background-color: #f2f2f2;
        padding: 20px;
        margin-bottom: 50px;
    }

    p
    {
        font-size: large;
    }

    .button
    {
        font-family: 'Roboto';
        background-color: #FF79DA;
        color: white;
        text-decoration: none;
        padding: 20px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    
    }

    #fonctionnement
    {
        margin: 20px;
    }
    
    .element1
    {
        border-radius: 50%;
        background-color: #9356DC;
        color: white;
        padding: 5px;
        position: relative;
        right: 10px;
    }
    
    .choisissez
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 20px;
        background-color: #f2f2f2;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .element2
    {
        border-radius: 50%;
        background-color: #9356DC;
        color: white;
        padding: 5px;
        position: relative;
        right: 10px;
    }

    .composez
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 20px;
        background-color: #f2f2f2;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .element3
    {
        border-radius: 50%;
        background-color: #9356DC;
        color: white;
        padding: 5px;
        position: relative;
        right: 10px;
    }

    .degustez
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 20px;
        background-color: #f2f2f2;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    

}