:root
{
    --customgrey:#f6f6f6;
    --custompurple: #9356dc;
}

@font-face
{
    font-family: 'Roboto-Black';
    src: url(Roboto/Roboto-Black.ttf); 
}


@font-face
{
    font-family: 'Roboto-Bold';
    src: url(Roboto/Roboto-Bold.ttf); 
}

@font-face
{
    font-family: 'Roboto-Light';
    src: url(Roboto/Roboto-Light.ttf); 
}

@font-face
{
    font-family: 'Roboto-Medium';
    src: url(Roboto/Roboto-Medium.ttf); 
}

@font-face
{
    font-family: 'Roboto-Regular';
    src: url(Roboto/Roboto-Regular.ttf); 
}

@font-face
{
    font-family: 'Roboto-Thin';
    src: url(Roboto/Roboto-Thin.ttf); 
}

@font-face
{
    font-family: 'Shrikhand-Regular';
    src: url(Shrikhand/Shrikhand-Regular.ttf); 
}

body
{
    margin: 0%;
}

h1
{
    font-family: 'Shrikhand-Regular', Arial, Helvetica, sans-serif;
    margin: 0;
}

h2
{
    font-family: 'Roboto-Black', Arial, Helvetica, sans-serif;
    margin: 20px;
}

h3
{
    font-family: 'Roboto-Medium', Arial, Helvetica, sans-serif;
    margin-left: 10px;
    color: #0a0a0a;
}

h4
{
    font-family: 'Shrikhand-Regular', Arial, Helvetica, sans-serif;
    margin: 20px;
}

p
{
    font-family: 'Roboto-Thin', Arial, Helvetica, sans-serif;
    font-size: large;
}

#bloc_page
{
    text-align: center;
}

.marker
{
    margin-right: 10px;
}

#rechercher
{
    display: flex;
    align-items: center;
    background-color: #eaeaea;
    text-align: center;
    border-top: 5px #d4d4d4 solid;
    justify-content: center;
}

#reservez
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: var(--customgrey);
    padding: 20px;
    margin-bottom: 50px;
    justify-content: center;
    flex-direction: column;
}

.p-boutton
{
    margin: 0%;
}

.button
{
    font-family: 'Roboto';
    background: linear-gradient(#9356DC, #FF79DA);   
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 1px 1px 4px silver;
}

.element
{
    border-radius: 50%;
    background-color: #9356DC;
    color: white;
    padding: 5px;
    position: relative;
    right: 10px;
    width: 13px;
    height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fonctionnement
{
    display: flex;
    align-items: center;
    margin: 20px;
    padding-right: 10px;
    background-color: var(--customgrey);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 1px 1px 4px silver;
}

.fonctionnement:hover
{
    background-color: #f5edff;
}

.fonctionnement:hover i
{
    color: var(--custompurple);
}

#restaurant
{
    background-color: var(--customgrey);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.menu1-img-1
{
    background-image: url(restaurants/menu1.jpg);
}

.menu2-img-1
{
    background-image: url(restaurants/menu2.jpg);
}

.menu3-img-1
{
    background-image: url(restaurants/menu3.jpg);
}

.menu4-img-1
{
    background-image: url(restaurants/menu4.jpg);
}

.menu-conteneur
{
    margin-bottom: 20px;
}

.img
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.new-dish
{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #99e2d0;
    color: #3c8867;
    padding: 5px 10px;
}

.new
{
    font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
    margin: 0%;
}

.description
{
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    height: 40px;
    padding: 20px;
    box-shadow: 1px 1px 4px silver;
}

.titre_desc
{
    margin: 0%;
}

.para_desc
{
    margin: 0%;
}

.hearts-ctnr 
{
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    left: 260px;
    bottom: 40px;
}

.hearts-ctnr:focus > .full-heart 
{
    transition: 0.4s all;
    transform: scale(1);
}

.hearts-ctnr:focus > .empty-heart
{
    visibility: hidden;
}

.hearts-ctnr:hover > .full-heart 
{
    transition: 0.4s all;
    transform: scale(1);  
}

.hearts-ctnr:hover > .empty-heart
{
    visibility: hidden;
}

.heart
{
    position: absolute;
    font-size: 30px;
    top: 0;
    left: 0;
}

.full-heart 
{
    z-index: 0;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(0);
}

.empty-heart 
{
    z-index: 1;
    color: black;

}

footer
{
    padding: 20px 15px 25px 15px;
    background-color: #353535;
}

#omf_footer
{
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 25px;
}

.ofooter
{
    list-style-type: none;
    padding-left: 0%;
}

footer i
{
    width: 20px;
}

.para_footer
{
    margin: 0%;
    font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
}

footer h4
{
    margin: 0%;
}

.propdev
{
    display: flex;
}

a
{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.couverts
{
    margin-right: 10px;
}

.help
{
    margin-right: 10px;
}

.loader_ctnr {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disappear 4s linear forwards;
}

.loader 
{
    font-size: 10px;
    margin: 0 auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #9356DC;
    background: -moz-linear-gradient(left, #9356DC 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #9356DC 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #9356DC 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #9356DC 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #9356DC 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s 3 linear;
    animation: load3 1.4s 3 linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  .loader:before 
  {
    width: 50%;
    height: 50%;
    background: #9356DC;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  
  .loader:after 
  {
    background: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  @-webkit-keyframes load3 
  {
    0% 
    {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% 
    {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes load3 
  {
    0% 
    {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% 
    {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes disappear 
  {
    0% {
        transform: scale(1);
      }

    99% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
  }
