
@font-face
{
    font-family: 'Roboto';
src: url(Roboto/Roboto-Black.ttf),
    url(Roboto/Roboto-Bold.ttf),
    url(Roboto/Roboto-Light.ttf),
    url(Roboto/Roboto-Medium.ttf),
    url(Roboto/Roboto-Regular.ttf),
    url(Roboto/Roboto-Thin.ttf);    


font-family: 'Shrikhand';
src: url(Shrikhand/Shrikhand-Regular.ttf);
}

h1
{
    font-family: 'Shrikhand';
    margin: 0;
}

h2
{
    font-family: 'Roboto';
    margin: 20px;
}

h4
{
    font-family: 'Shrikhand';
    margin: 20px;
}

p
{
    font-family: 'Roboto';
    font-size: large;
}

#bloc_page
{
    text-align: center;
}

.marker
{
    margin-right: 10px;
}

#rechercher
{
    display: flex;
    align-items: center;
    background-color: #bdbdbd;
    text-align: center;
    border-top: 5px gray solid;
    justify-content: center;
}

#reservez
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 50px;
    justify-content: center;
}

.button
{
    font-family: 'Roboto';
    background-color: #FF79DA;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}

.element
{
    border-radius: 50%;
    background-color: #9356DC;
    color: white;
    padding: 5px;
    position: relative;
    right: 10px;
}

.fonctionnement
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    background-color: #f2f2f2;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.fonctionnement:hover
{
    background-color: #9356DC;
    opacity: 30%;
}

.menu1-img-1
{
    background-image: url(restaurants/menu1.jpg);
}

.menu2-img-1
{
    background-image: url(restaurants/menu2.jpg);
}

.menu3-img-1
{
    background-image: url(restaurants/menu3.jpg);
}

.menu4-img-1
{
    background-image: url(restaurants/menu4.jpg);
}

.img
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.description
{
    display: flex;
    flex-direction: column;
}

#omf_footer
{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    margin-top: 30px;
}

.ofooter
{
    list-style-type: none;
}

.propdev
{
    display: flex;
}

a
{
    text-decoration: none;
    color: white;
}


